@tailwind base;
@tailwind components;
@tailwind utilities;

.Header_container{
  background-image: url(../public/img/pic2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}